@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.full-width {
  width: 100%;
}
.flex-grow {
  flex: 1;
}
